body {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji",
    "Segoe UI", Arial, sans-serif;
}
pre,
code {
  page-break-inside: avoid;
  break-inside: avoid;
}

/* Empêche la coupure des images sur deux pages */
img {
  max-width: 60%; /* Ajuste ce pourcentage selon la taille souhaitée */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  page-break-inside: avoid;
  break-inside: avoid;
}
